.tablo {
    width: 100%;
    border: 1px solid silver;
}

    .tablo tr th {
        border: 1px solid silver;
        background-color: #f7f7f7;
        color: #808080;
        padding: 7px;
    }

    .tablo tr td {
        border: 1px solid silver;
        padding: 4px;
    }

.pageTitle {
    padding: 15px;
    padding-top: 0;
    margin: 15px 0;
    margin-top: 0;
    border-bottom: 2px solid #006cc5;
}

.editButton {
    padding: 3px 7px;
    background-color: #0094ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.deleteButton {
    padding: 3px 7px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.formContainer {
    border: 1px solid silver;
    padding: 15px;
}

.validationMessage {
    color: red;
}

.row {
    margin: 10px 0;
}

.textBox {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 7px;
}

.formButton {
    padding: 15px;
    background-color: orangered;
    color: white;
    font-size: 15pt;
    border: 1px solid orangered;
    border-radius: 5px;
    cursor: pointer;
}

.productEditImage {
    width: 250px;
    float: left;
}

.productEditImageFile {
    width: 250;
    float: left;
    padding-left: 20px;
}

.brandEditImage {
    width: 250px;
    float: left;
}

.brandEditImageFile {
    width: 250px;
    float: left;
}

.categoryEditImage {
    width: 250px;
    float: left;
}

.categoryEditImageFile {
    width: 250px;
    float: left;
}

    .textBox-maks {
    width: 100%;
    max-width: 912px;
    resize: vertical;
    padding: 7px;
}

.textBox-maks-cat {
    width: 100%;
    height:100px;
    max-width: 436px;
    min-height:100px;
    max-height:200px;
    resize: vertical;
    padding: 7px;
}
.textBox-maks-product {
    width: 100%;
    height:100px;
    max-width: 436px;
    min-height:100px;
    max-height:200px;
    resize: vertical;
    padding: 7px;
}
