*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0px;
}

body {
    /*background-color: #efefef;*/
    font-family: Calibri;
}

.menuContainer {
    background-color: #006CC5;
    width: 1500px;
    float: left;
}

.mainContainer {
    width: 1290px;
    float: left;
    padding: 10px;
}

.logoBase {
    padding: 15px 60px;
    width: 80px;
    background-color: #FECA28;
    float: left;
}

    .logoBase img {
        width: 100%;
    }

.userBase {
    width: 100px;
    float: right;
    padding-top: 20px;
    font-weight: 600;
}

    .userBase a {
        text-decoration: none;
        color: #FECA28;
        margin-right: 20px;
    }

        .userBase a:hover {
            text-decoration: underline;
            color:orangered;
        }

.sideMenu {
    min-height: 600px;
    background-color: #006CC5;
    color: #ffffff;
    width: 200px;
    padding: 15px 0;
    float: left;
    font-weight: 800;
}

    .sideMenu label {
        color: #FECA28;
        display: block;
        padding: 3px 15px;
    }

    .sideMenu a {
        display: block;
        padding: 3px 30px;
        text-decoration: none;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

        .sideMenu a:hover {
            background-color: orangered;
            border-bottom: 1px solid #006CC5;
        }
